@media only screen and (max-width: 980px)  {
  *{
    font-size: 1.3rem !important;
  }
  .offer-block{
    margin-bottom: 20px;
  }
  h4 {
      font-size: 1.5rem !important;
  }
  footer ul{
    border-right: 0px solid;
    border-bottom: 1px solid #fff;
    margin: 0;
  }
  footer ul.noborder{
    border-bottom: none;
  }
}
