:root{
  --primary: #db0465;
  --secondary: #50B353;
  /* --primary: #50B353;
  --secondary: #db0465; */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
header{
  background-color: rgb(64, 64, 64);
  background: linear-gradient(#434343, #313131);
  /* padding: 20px; */
}
header nav ul{
  list-style: none;
  text-align: right;
  margin: 0;
  overflow: hidden;
}
header nav ul li{
  display: inline-block;
  float: left;
}
header nav ul .right{
  float: right;
}
header nav ul li a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  transition: .2s all;
}
header nav ul li a:hover{
  background-color: var(--primary);
  color: #fff;
  text-decoration: none;
}
header nav ul li .secondary{
  background-color: var(--primary);
  color: #fff;
  text-decoration: none;
}
header nav ul li .secondary:hover{
  text-decoration: underline;
}
/* footer */
footer{
  background-color: rgb(64,64,64);
  color: #fff;
  padding: 50px 20px;
}
footer ul{
  list-style: none;
  border-right: 1px solid #fff;
}
footer ul.noborder{
  border-right: none;
}
footer ul li{
  text-align: center;
}
footer ul li a{
  display: block;
  padding: 10px 0;
  color: #fff;
}
footer ul li a:hover{
  color: inherit;
  text-decoration: underline;
}
footer.footer-dark{
  background-color: rgb(40, 40, 40);
}
footer .footer-copy{
  text-align: center;
  padding: 0px 0;
}
footer .footer-copy p{
  margin-bottom: 0;
}
/* sections */
.section-primary{
  padding: 20px 0;
  background-color: #dcdcdc;
  background-color: #c5c5c5;
}
.section-secondary{
  padding: 20px 0;
  background-color: var(--primary);
}
.section-tertiary{
  padding: 20px 0;
  background-color: #fff;
}
.nopadding{
  padding: 0 !important;
}
section.section-bg{
  background-image: url(http://cdn.onlinewebfonts.com/svg/img_493643.png);
  /* https://www.shareicon.net/download/2015/10/28/663404_tree.svg */
  background-size: 55px;
  background-blend-mode: soft-light;
  box-shadow: -30px 0 30px #000000a3;
}
/* parallax */
.parallax{
  text-align: center;
  padding: 100px 0;
  background-size: cover;
  color: #fff;
  background-color: var(--primary);
}
.parallax.forest{
  background: url('../images/slider/forest.jpeg') 100% fixed repeat;
}
.parallax.food{
  /* background: url('../images/slider/food.jpeg') 100% fixed repeat; */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.31)), url("../images/slider/food.jpeg");
  background-size: cover;
  background-position: center top;
}
.parallax img{
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.parallax h3{
  /* background-color: #fff;
  color: #000; */
  background-color: var(--primary);
  color: white;
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
}
/* slider */
.slider-container{
  height: 400px;
  background-color: var(--primary);
}
.slider-container .slide{
  position: relative;
  height: 100%;
  background: url('../images/slider/forest.jpeg') 100% fixed repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.fog{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .1);
  content: "";
  width: 100%;
}
.slider-container .slide .slide-content{
  padding: 40px;
  padding-top: 50px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider-container .slide .slide-content h3{
  background-color: var(--primary);
  font-size: 40px;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 20px;
  transform: rotate(-6deg);
}
/* .slider-container .slide .slide-content h3:after{
  display: block;
  content: "";
  clear: both;
} */
.slider-container .slide .slide-content p{
  background-color: #fff;
  color: #000;
  font-size: 15px;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
  transform: rotate(-6deg);
}
/* blocks */
.offer-block-container{
  transform: translateY(-35px);
}
.offer-block{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #a3a3a3;
  background-color: #fff;
  transition: .2s all;
}
.offer-block:hover{
  transform: translateY(-10px);
}
.offer-block.offer-block-blocked:before{
  content: "";
  transition: .2s all;
}
/* .offer-block.offer-block-blocked:hover:before{
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  z-index: 10;
} */
.offer-block.offer-block-blocked:hover h4, .offer-block.offer-block-blocked:hover p{
  opacity: .2;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.offer-block.offer-block-blocked:hover{
  cursor: not-allowed;
}
.offer-block.offer-block-blocked:hover .f-btn{
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}
.offer-block.icon{
  background-image: url(http://cdn.onlinewebfonts.com/svg/img_493643.png);
  background-size: contain;
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: 95%;
}
.offer-block h4{
  margin-bottom: 0px;
  text-align: left;
  background-color: var(--primary);
  color: white;
  padding: 5px 10px;
  display: inline-block;
}
.offer-block .tag{
  margin-bottom: 15px;
  background-color: var(--secondary);
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.offer-block .text{
  margin-bottom: 30px;
  width: 70%;
}
.offer-block p span{
  text-transform: uppercase;
  color: var(--primary);
  font-weight: bold;
}
/* premium block */
.premium-block{
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #a3a3a3;
  margin-bottom: 20px;
  background-color: #fff;
  transition: .2s all;
}
.premium-block h4{
  border-bottom: 1px solid #000;
  /* text-align: center; */
  padding-bottom: 10px;
}
.premium-block ul{
  list-style: none;
}
.premium-block ul li{
  display: block;
  background-position: right;
  background-size: 25px;
  background-repeat: no-repeat;
  border-bottom: 1px dashed #bfbfbf;
  margin: 5px auto;
  padding: 5px 0;
}
.premium-block ul li.yes{
  background-image: url('https://www.basic-fit.com/images/checkmark-green.svg');
}
.premium-block ul li.no{
  background-image: url('https://img.icons8.com/material/72/x-coordinate.png');
}
.price{
  float: right;
  font-weight: bold;
  background-color: var(--primary);
  color: #fff;
  text-shadow: 1px 1px 1px #535353;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0px 3px 4px #0000003b;
}
/* buttons */
.f-btn{
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--primary);
  transition: .2s all;
  border: 2px solid var(--primary);
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
}
.f-btn:hover{
  text-decoration: none;
  background-color: var(--primary);
  color: #fff;
}
.f-btn.f-btn-primary{
  background-color: var(--primary);
  color: #fff;
}
.f-btn.f-btn-primary:hover{
  background-color: #fff;
  color: var(--primary);
}
/* swiper own styles */
.swiper-pagination-bullet-active {
    background: var(--primary);
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23db0465'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23db0465'%2F%3E%3C%2Fsvg%3E");
}
.opinion-block{
  padding: 50px;
  width: 90%;
  margin: auto;
  /* text-align: center; */
}
.opinion-block h4{
  text-align: center;
}
.opinion-block p{
  font-style: italic;
}
.opinion-block .date{
  font-style: italic;
  text-align: right;
}
/* video block */
.video-block-container{
  overflow: hidden;
  height: 400px;
  position: relative;
}
.video-block-container video{
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.video-block-container .prevent-touch{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.28);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: block;
  margin: auto;
  z-index: 2;
}
/* full-block */
.full-block-container{
  display: flex;
}
.full-block-container .full-block{
  width: 100%;
  padding: 150px 80px;
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 300px;
}
.full-block-container .full-block a{
  transform: translateY(250px);
  opacity: 0;
  transition: .5s cubic-bezier(1,.75,0,1)
}

.full-block-container .full-block:hover a{
  transform: translateY(0);
  opacity: 1;
}
.full-components .full-components-bg{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(#00000012, #00000091), url(https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  text-align: center;
  padding: 20px;
}
